[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flasgger = "*"
mysql-connector = "*"
python-dotenv = "*"
bcrypt = "*"
mysql-connector-python = "*"
requests = "*"
flask-login = "*"
werkzeug = "*"
concurrently = "*"
flask = "*"
flask-cors = "*"

[dev-packages]

[requires]
python_version = "3.13"
