<div
  id="modal-eliminar"
  class="fixed inset-0 bg-black/50 hidden items-center justify-center z-50"
>
  <div class="bg-white rounded-lg p-6 max-w-md mx-4">
    <h3 class="text-lg font-semibold text-gray-900 mb-4">
      Subir foto de perfil
    </h3>
    <div class="flex flex-col justify-center items-center space-y-8">
      <!-- Preview -->
      {% set preview_foto = user["imagen"] if user["imagen"] else
      'default_user.png' %} {% set carpeta = 'images/uploads/perfil' if
      user["imagen"] else 'images' %}

      <img
        id="preview-imagen"
        src="{{ url_for('static', filename=carpeta ~ '/' ~ preview_foto) }}"
        alt="Vista previa"
        class="h-32 w-32 rounded-full object-cover shadow"
      />

      <form
        id="form-subir-foto"
        method="POST"
        enctype="multipart/form-data"
        action="{{ url_for('subir_foto_perfil') }}"
      >
        <input
          id="imagen_prev"
          type="file"
          name="foto"
          accept=".jpg,.jpeg,.png"
          onchange="previewFoto(this)"
          class="mb-4 block w-full text-sm text-gray-500 file:mr-4 file:py-2 file:px-4 file:rounded-lg file:border-0 file:text-sm file:font-semibold file:bg-primary file:text-white hover:file:bg-primary/85"
          required
        />

        <!-- Loader oculto por defecto -->
        {% include "components/loader.html" %}

        <!-- Formatos aceptados -->
        <div id="format" class="flex justify-center w-full">
          <p class="text-stone-400 text-sm">
            Solo se aceptan formatos:
            <span class="font-bold text-stone-400 text-sm">jpg,jgeg,png</span>
          </p>
        </div>

        <div class="flex justify-end space-x-3 mt-18">
          <button
            type="button"
            onclick="cerrarModal()"
            class="px-4 py-2 text-white bg-black hover:bg-black/85 transition cursor-pointer rounded-lg"
          >
            Cancelar
          </button>
          <button
            id="btn-submit"
            type="submit"
            class="px-4 py-2 bg-primary text-white rounded-lg hover:bg-primary/85 transition cursor-pointer"
          >
            Subir
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  // Guardamos la imagen actual del usuario para restaurarla al cerrar el modal
  const previewOriginal =
    "{{ url_for('static', filename=carpeta ~ '/' ~ preview_foto) }}";

  document
    .getElementById("form-subir-foto")
    .addEventListener("submit", function (e) {
      // Mostrar loader
      mostrarLoader();
    });

  function mostrarLoader() {
    document.getElementById("loader").classList.add("flex");
    document.getElementById("loader").classList.remove("hidden");

    document.getElementById("btn-submit").disabled = true;

    document.getElementById("format").classList.remove("flex");
    document.getElementById("format").classList.add("hidden");

    document.getElementById("imagen_prev").classList.add("hidden");
  }

  function abrirModal() {
    document.getElementById("modal-eliminar").classList.add("flex");
    document.getElementById("modal-eliminar").classList.remove("hidden");
  }

  function previewFoto(input) {
    const preview = document.getElementById("preview-imagen");
    const file = input.files[0];

    if (file) {
      const reader = new FileReader();
      reader.onload = (e) => {
        preview.src = e.target.result;
      };
      reader.readAsDataURL(file);
    }
  }

  function cerrarModal() {
    document.getElementById("modal-eliminar").classList.add("hidden");
    document.getElementById("modal-eliminar").classList.remove("flex");

    // Restaurar vista previa a la imagen original del usuario
    document.getElementById("preview-imagen").src = previewOriginal;
    document.getElementById("form-subir-foto").reset();
  }
</script>
