<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fithub</title>
    <!-- tailwind -->
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/main.css',_external=True) }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-stone-100">
    <nav class="bg-white w-full h-[90px] flex justify-between fixed z-100">
      <!-- Logo -->
      <div class="flex items-center pl-10">
      <a class="flex items-center cursor-pointer hover:text-primary transition"
      href="{{ url_for('home') }}"
      >
        <img
          class="min-w-[50px] max-h-[50px]"
          src="{{ url_for('static',filename='images/logo.png')}}"
          alt="logo"
        />
        <p class="pl-3 text-2xl font-bold tracking-wide">FITHUB</p>
      </a>
      </div>

      <!-- Iconos -->
      <div class="flex items-center pt-2.5">
        <a
          class="flex flex-col items-center pl-10 pr-10 cursor-pointer hover:text-primary transition"
          href="{{ url_for('home') }}"
        >
          <img
            class="max-w-[40px] max-h-[40px]"
            src="{{ url_for('static',filename='images/home.png')}}"
            alt="logo"
          />
          <p class="font-medium">Home</p>
        </a>

        <a
          class="flex flex-col items-center pl-10 pr-10 cursor-pointer hover:text-primary transition"
          href="{{ url_for('reservas') }}"
        >
          <img
            class="max-w-[40px] max-h-[40px]"
            src="{{ url_for('static',filename='images/schedule.png')}}"
            alt="logo"
          />
          <p class="font-medium">Reservas</p>
        </a>

        <a
          class="flex flex-col items-center pl-10 pr-10 cursor-pointer hover:text-primary transition"
          href="{{ url_for('tienda') }}"
        >
          <img
            class="min-w-[40px] min-h-[40px]"
            src="{{ url_for('static',filename='images/store.svg')}}"
            alt="logo"
          />
          <p class="font-medium">Tienda</p>
        </a>

        <a
          class="flex flex-col items-center pl-10 pr-10 cursor-pointer hover:text-primary transition"
          href="{{ url_for('planes') }}"
        >
          <img
            class="min-w-[40px] min-h-[40px]"
            src="{{ url_for('static',filename='images/planes.svg')}}"
            alt="logo"
          />
          <p class="font-medium">Planes</p>
        </a>
      </div>

      <!-- Boton - Light/Dark mode - gradiente de colores -->
      <div
        class="flex items-center justify-center bg-cover w-[253px] h-full"
        style="background-image: url('{{ url_for('static', filename='images/gradiente.png') }}')"
      >
        <div
          class="hover:bg-yellow-200/40 transition rounded-md p-2 cursor-pointer"
        >
          <img
            class="min-w-[40px] min-h-[40px]"
            src="{{ url_for('static',filename='images/sun.svg')}}"
            alt="logo"
          />
        </div>
        <a href="{{ url_for('user') }}">
          <button
            type="button"
            class="cursor-pointer p-3 ml-6 bg-black hover:bg-black/90 transition font-bold text-stone-100 rounded-xl shadow-sm"
            href="{{ url_for('tienda') }}"
          >
            Iniciar sesion
          </button></a
        >
      </div>
    </nav>

    <main class="pt-[90px]">{% block content %} {% endblock %}</main>

    <footer></footer>

    <script
      async
      defer
      src="https://unpkg.com/@material-tailwind/html@latest/scripts/ripple.js"
    ></script>
  </body>
</html>
