{% extends "base.html" %} {% block content %}


<section class="relative w-full h-screen overflow-hidden">

    <img src="{{ url_for('static', filename='images/home1.png') }}"
    alt="Home1 deberia ir aca..."
    class="absolute inset-0 w-full h-full object-cover"
    > 

    <div class="absolute inset-0 bg-black/30 z-1"></div>
    <div class="z-2 absolute bottom-0 w-full h-[21%] bg-gradient-to-b from-transparent to-stone-100" > </div>

    <!-- - - - -///TEXTO INICIAL HOME///- - - - -->

    <header class="z-3 absolute inset-0 flex-col flex items-center pt-[12.5%]">
        
        <img src="{{ url_for('static', filename='images/home2.png') }}" 
        alt="Home2 deberia ir aca..." 
        class="min-w-[33%] max-h-[43%]"
        >

        <p class="text-stone-100 text-[150%] sm:text[50%] max-w-[50%] pt-[1.5%] pb-[1.8%] text-center"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

        <!-- Botones -->
        <div class="flex flex-col justify-center sm:flex-row gap-[5%] w-full  min-w-[1000px]">
            <a class="w-[12.5%]">
                <button 
                    type="button"
                    class="w-full h-[130%] text-[200%]  rounded-xl shadow-sm cursor-pointer  bg-transparent  border-[5px] border-black box-border   font-bold text-stone-100   hover:bg-black transition"
                >
                        Saber mas
                </button> 
            </a>
            <a class="w-[12.5%]" href="{{ url_for('user') }}">
                <button
                    type="button"
                    class="w-full h-[130%] text-[200%] rounded-xl shadow-sm cursor-pointer  bg-primary  border-[5px] border-primary box-border  font-bold text-black   hover:bg-secondary transition hover:border-secondary"
                >
                    Unirme ya
                </button>
            </a>
        </div>
        <!-- Botones -->
    </header>
</section>
<!-- - - - -///TEXTO INICIAL HOME///- - - - -->



<!-- - - - -///SECCION "NUESTRA HISTORIA"///- - - - -->
<section class="pt-[5%] flex relative w-full overflow-visible px-[10vw] items-start justify-between">  

    <!-- Texto -->
    <article class="flex flex-col pt-[4%]">
        <h2 
        class="leading-none m-0 text-shadow-xl pl-[0.5%]  text-[2vw] italic  text-primary text-shadow-stone-600 font-bold" 
        >
            Nuestra
        </h2>

        <h1 
        class="leading-none  text-[6vw] text-shadow-xl   text-black text-shadow-stone-600 font-bold"
        >
        HISTORIA
        </h1> 

        <p class="text-[1.10vw] pt-[1%] max-w-[40vw] min-w-[40vw] line-clamp-3 overflow-x-auto"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

    </article>
    <!-- Texto -->

    <!-- Cuadros -->
    <section class="translate-x-[-10vw] items-center flex flex-col">

        <div class="flex gap-[6.5vw]"> <!-- Cuadro 1 y 2 -->
            <article class="w-[5vw]">  <!-- Cuadro 1 -->
                <div class="bg-stone-100 w-[10vw] h-[10vw] rounded-[15%] shadow-pr"> 
                    
                <div class="bg-stone-600 w-[10px] h-[10px]"> </div>

                </div>
            </article>                 <!-- Cuadro 1 -->

            <article class="w-[5vw]">  <!-- Cuadro 2 -->
                <div class="bg-stone-100 w-[10vw] h-[10vw] rounded-[15%] shadow-pr"> 
                    

                </div>
            </article>                 <!-- Cuadro 2 -->
        </div>

        <article class="w-[5vw] mt-[1.5vw]">  <!-- Cuadro 3 -->
            <div class="bg-stone-100 w-[10vw] h-[10vw] rounded-[15%] shadow-pr "> 
                

            </div>
        </article>                 <!-- Cuadro 3 -->
         
    </section>
    <!-- Cuadros -->

</section>


<!-- - - - -///SECCION "NUESTRA HISTORIA"///- - - - -->


{% endblock %}
