<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fithub</title>
    <!-- Tailwind -->
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/main.css',_external=True) }}"
    />
    <!-- Font Inter -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="bg-stone-100 min-h-screen w-full flex flex-col">
    {% block navbar %}
    <nav class="bg-white w-full h-[90px] flex justify-between fixed z-10">
      <!-- Logo -->
      <div class="flex items-center justify-center pl-10">
        <img
          class="min-w-[50px] max-h-[50px]"
          src="{{ url_for('static',filename='images/logo.png')}}"
          alt="logo"
        />
        <p class="pl-3 text-2xl font-bold tracking-wide">FITHUB</p>
      </div>

      <!-- Iconos -->
      <div class="flex items-center pt-2.5">
        <a
          class="nav-link relative flex flex-col items-center pl-10 pr-10 cursor-pointer hover:fithub-text-primaryy transition"
          href="{{ url_for('home') }}"
        >
          <img
            class="max-w-[40px] max-h-[40px]"
            src="{{ url_for('static',filename='images/home.png')}}"
            alt="logo"
          />
          <p class="font-medium">Home</p>
        </a>

        <a
          class="nav-link relative flex flex-col items-center pl-10 pr-10 cursor-pointer hover:text-primary transition"
          href="{{ url_for('reservas') }}"
        >
          <img
            class="max-w-[40px] max-h-[40px]"
            src="{{ url_for('static',filename='images/schedule.png')}}"
            alt="logo"
          />
          <p class="font-medium">Reservas</p>
        </a>

        <a
          class="nav-link relative flex flex-col items-center pl-10 pr-10 cursor-pointer hover:text-primary transition"
          href="{{ url_for('tienda') }}"
        >
          <img
            class="min-w-[40px] min-h-[40px]"
            src="{{ url_for('static',filename='images/store.svg')}}"
            alt="logo"
          />
          <p class="font-medium">Tienda</p>
        </a>

        <a
          class="nav-link relative flex flex-col items-center pl-10 pr-10 cursor-pointer hover:text-primary transition"
          href="{{ url_for('planes') }}"
        >
          <img
            class="min-w-[40px] min-h-[40px]"
            src="{{ url_for('static',filename='images/planes.svg')}}"
            alt="logo"
          />
          <p class="font-medium">Planes</p>
        </a>
      </div>

      <!-- Boton - Light/Dark mode - gradiente de colores -->
      <div
        class="flex items-center justify-center bg-cover w-[300px] h-full"
        style="background-image: url('{{ url_for('static', filename='images/gradiente.png') }}')"
      >
        <!-- Sol -->
        <div
          class="hover:bg-slate-200/40 transition duration-300 ease-in-out rounded-2xl p-2 cursor-pointer"
        >
          <img
            class="min-w-[40px] min-h-[40px]"
            src="{{ url_for('static',filename='images/sun.svg')}}"
            alt="logo"
          />
        </div>

        {% if user.is_authenticated %}
        <div
          id="menu-user-avatar"
          class="hover:bg-slate-200/40 transition duration-300 ease-in-out rounded-full p-2 cursor-pointer ml-15 relative"
        >
          <img
            alt="user-image"
            src="{{ url_for('static',filename='images/user2_icono.png')}}"
            class="relative inline-block h-8 w-8 cursor-pointer rounded-full"
          />
          <ul
            id="menu-ul"
            class="absolute mt-3 right-0 z-10 min-w-[180px] overflow-auto rounded-lg border border-slate-200 bg-white p-1.5 shadow-sm focus:outline-none transition-all duration-200 ease-out opacity-0 scale-95 pointer-events-none"
          >
            <!-- Mi perfil Item -->
            <a
              id="menu-item-miperfil"
              href="{{ url_for('user') }}"
              role="menuitem"
              class="cursor-pointer text-slate-800 flex w-full text-sm items-center rounded-md p-3 transition-all hover:bg-slate-100 focus:bg-slate-100 active:bg-slate-100"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-5 h-5 text-slate-400"
              >
                <path
                  fill-rule="evenodd"
                  d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0Zm-5.5-2.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0ZM10 12a5.99 5.99 0 0 0-4.793 2.39A6.483 6.483 0 0 0 10 16.5a6.483 6.483 0 0 0 4.793-2.11A5.99 5.99 0 0 0 10 12Z"
                  clip-rule="evenodd"
                />
              </svg>

              <p class="text-slate-800 font-medium ml-2">Mi Perfil</p>
            </a>

            {% if user.id_rol == 1 %}
            <a
              href="{{ url_for('admin_panel') }}"
              role="menuitem"
              class="cursor-pointer text-slate-800 flex w-full text-sm items-center rounded-md p-3 transition-all hover:bg-slate-100 focus:bg-slate-100 active:bg-slate-100"
            >
              <img
                src="{{ url_for('static',filename='images/admin_icono.png')}}"
                class="w-5 h-5"
                alt="admin-icono"
              />

              <p class="text-slate-800 font-medium ml-2">Adm Productos</p>
            </a>

            <a
              href="{{ url_for('admin_planes') }}"
              role="menuitem"
              class="cursor-pointer text-slate-800 flex w-full text-sm items-center rounded-md p-3 transition-all hover:bg-slate-100 focus:bg-slate-100 active:bg-slate-100"
            >
              <img
                src="{{ url_for('static',filename='images/admin_icono.png')}}"
                class="w-5 h-5"
                alt="admin-icono"
              />

              <p class="text-slate-800 font-medium ml-2">Adm Planes</p>
            </a>

            <a
              href="{{ url_for('admin_reservas') }}"
              role="menuitem"
              class="cursor-pointer text-slate-800 flex w-full text-sm items-center rounded-md p-3 transition-all hover:bg-slate-100 focus:bg-slate-100 active:bg-slate-100"
            >
              <img
                src="{{ url_for('static',filename='images/admin_icono.png')}}"
                class="w-5 h-5"
                alt="admin-icono"
              />

              <p class="text-slate-800 font-medium ml-2">Adm Reservas</p>
            </a>
            {% endif %}
            <!-- Cerrar Sesión Item -->
            <hr class="my-2 border-slate-200" role="menuitem" />
            <form action="{{ url_for('logout') }}" method="POST">
              <button
                type="submit"
                id="menu-item-cerrarsesion"
                class="cursor-pointer text-slate-800 flex w-full text-sm items-center rounded-md p-3 transition-all hover:bg-red-100 focus:bg-red-100 active:bg-red-100"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  class="w-5 h-5 text-red-500"
                >
                  <path
                    fill-rule="evenodd"
                    d="M3 4.25A2.25 2.25 0 0 1 5.25 2h5.5A2.25 2.25 0 0 1 13 4.25v2a.75.75 0 0 1-1.5 0v-2a.75.75 0 0 0-.75-.75h-5.5a.75.75 0 0 0-.75.75v11.5c0 .414.336.75.75.75h5.5a.75.75 0 0 0 .75-.75v-2a.75.75 0 0 1 1.5 0v2A2.25 2.25 0 0 1 10.75 18h-5.5A2.25 2.25 0 0 1 3 15.75V4.25Z"
                    clip-rule="evenodd"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M19 10a.75.75 0 0 0-.75-.75H8.704l1.048-.943a.75.75 0 1 0-1.004-1.114l-2.5 2.25a.75.75 0 0 0 0 1.114l2.5 2.25a.75.75 0 1 0 1.004-1.114l-1.048-.943h9.546A.75.75 0 0 0 19 10Z"
                    clip-rule="evenodd"
                  />
                </svg>

                <p class="text-red-500 font-medium ml-2">Cerrar Sesión</p>
              </button>
            </form>
          </ul>
          {% else %}
          <a href="{{ url_for('login') }}">
            <button
              type="button"
              class="cursor-pointer p-3 ml-6 bg-black hover:bg-black/90 transition font-bold text-stone-100 rounded-xl shadow-sm"
            >
              Iniciar sesion
            </button></a
          >
        </div>
      </div>
      {% endif %}
    </nav>
    {% endblock %}

    <main class="flex-grow">{% block content %} {% endblock %}</main>

    {% block footer %}
    <footer class="bg-gray-100 text-gray-800 py-10 mt-auto">
      <div class="max-w-7xl mx-auto px-6 flex justify-between items-start">
        <!-- Logo y nombre -->
        <div class="flex items-center space-x-4 w-1/2">
          <img
            src="{{ url_for('static', filename='images/Logo.png') }}"
            alt="logo"
            class="h-12 w-auto"
          />
          <h2 class="text-2xl font-bold">FITHUB</h2>
        </div>

        <!-- Información de contacto -->
        <div class="text-right w-1/2 pr-10">
          <h3 class="text-lg font-bold text-yellow-600 mb-2">
            Contact Information
          </h3>
          <p>Argentina, CABA, Av. Sta Fe, 3223</p>
          <p>fithub.com.ar</p>
          <p>WhatsApp: 123432456</p>
        </div>
      </div>

      <!-- Redes sociales -->
      <div class="flex justify-center items-center gap-6 mt-10">
        <a href="https://twitter.com" target="_blank" aria-label="Twitter">
          <img
            src="{{ url_for('static', filename='images/x-twitter.png') }}"
            alt="Twitter"
            class="h-8 w-8 hover:opacity-70 transition-opacity"
          />
        </a>
        <a href="https://instagram.com" target="_blank" aria-label="Instagram">
          <img
            src="{{ url_for('static', filename='images/Instagram.svg') }}"
            alt="Instagram"
            class="h-8 w-8 hover:opacity-70 transition-opacity"
          />
        </a>
        <a href="https://youtube.com" target="_blank" aria-label="YouTube">
          <img
            src="{{ url_for('static', filename='images/youtube.svg') }}"
            alt="YouTube"
            class="h-8 w-8 hover:opacity-70 transition-opacity"
          />
        </a>
        <a href="https://linkedin.com" target="_blank" aria-label="LinkedIn">
          <img
            src="{{ url_for('static', filename='images/linkedin.svg') }}"
            alt="LinkedIn"
            class="h-8 w-8 hover:opacity-70 transition-opacity"
          />
        </a>
      </div>

      <!-- Copyright -->
      <div class="text-center text-sm mt-6 text-gray-600">
        © 2025 Programando.sh, Inc. All rights reserved.
      </div>
    </footer>
    {% endblock %}
    <!------------------->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
  </body>
</html>
