{% extends "base.html" %} {% block content %}


<section class="relative w-full h-screen overflow-hidden">

    <img src="{{ url_for('static', filename='images/home1.png') }}"
    alt="Home1 deberia ir aca..."
    class="absolute inset-0 w-full h-full object-cover"
    > 

    <div class="absolute inset-0 bg-black/30 z-1"></div>
    <div class="z-2 absolute bottom-0 w-full h-[21%] bg-gradient-to-b from-transparent to-stone-100" > </div>

    <!-- - - - -///TEXTO INICIAL HOME///- - - - -->

    <header class="z-3 absolute inset-0 flex-col flex items-center pt-[12.5%]">
        
        <img src="{{ url_for('static', filename='images/home2.png') }}" 
        alt="Home2 deberia ir aca..." 
        class="min-w-[33%] max-h-[43%]"
        >

        <p class="text-stone-100 text-[150%] sm:text[50%] max-w-[50%] pt-[1.5%] pb-[1.8%] text-center"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

        <!-- Botones -->
        <div class="flex flex-col justify-center sm:flex-row gap-[5%] w-full  min-w-[1000px]">
            <a class="w-[12.5%]">
                <button 
                    type="button"
                    class="w-full h-[130%] text-[200%]  rounded-xl shadow-sm cursor-pointer  bg-transparent  border-[5px] border-black box-border   font-bold text-stone-100   hover:bg-black transition"
                >
                        Saber mas
                </button> 
            </a>
            <a class="w-[12.5%]" href="{{ url_for('user') }}">
                <button
                    type="button"
                    class="w-full h-[130%] text-[200%] rounded-xl shadow-sm cursor-pointer  bg-primary  border-[5px] border-primary box-border  font-bold text-black   hover:bg-secondary transition hover:border-secondary"
                >
                    Unirme ya
                </button>
            </a>
        </div>
        <!-- Botones FIN -->
    </header>
</section>
<!-- - - - -///TEXTO INICIAL HOME///- - - - -->



<!-- - - - -///SECCION "NUESTRA HISTORIA"///- - - - -->
<section class="pt-[5%] flex relative w-full overflow-visible px-[10vw] items-start justify-between">  

    <!-- Texto -->
    <article class="flex flex-col pt-[4%]">
        <h2 
        class="leading-none m-0 text-shadow-xl pl-[0.5%]  text-[2vw] italic  text-primary text-shadow-stone-600 font-bold" 
        >
            Nuestra
        </h2>

        <h1 
        class="leading-none  text-[6vw] text-shadow-xl   text-black text-shadow-stone-600 font-bold"
        >
        HISTORIA
        </h1> 

        <p class="text-[1.10vw] pt-[1%] max-w-[40vw] min-w-[40vw] line-clamp-3 overflow-x-auto"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>

    </article>
    <!-- Texto -->

    <!-- Cuadros -->
    <section class="translate-x-[-10vw] items-center flex flex-col">

        <!-- Cuadro 1 y 2 -->
        <div class="flex gap-[6.5vw]"> 

            <!-- Cuadro 1 -->
            <article class="w-[5vw] hover:translate-y-[-0.5vw] transition">  <!-- Cuadro 1 -->
                <div class="flex bg-stone-100 w-[10vw] h-[10vw] rounded-[15%] shadow-pr justify-center items-center"> 
                    
                    <div class="flex bg-transparent border-black border-[0.25vw] w-[9vw] h-[9vw] rounded-[15%] justify-center items-center"> 
                        
                        <h1 class="translate-y-[2.3vw] translate-x-[-0.8vw]  text-black font-bold text-[0.9vw] text-center"> Planes de entrenamiento </h1>

                        <img src="{{ url_for('static', filename='images/corazon.png') }}" alt="corazon deberia ir aca..." 
                        class=" w-[5vw] h-[5vw] translate-y-[-1.5vw] translate-x-[1.5vw] absolute"
                        > 

                    </div>

                </div>
            </article>           
            <!-- Cuadro 1 FIN -->

            <!-- Cuadro 2 -->
            <article class="w-[5vw]">  
                <div class="flex bg-stone-100 w-[10vw] h-[10vw] rounded-[15%] shadow-pr justify-center items-center hover:translate-y-[-0.5vw] transition"> 
                    
                    <div class="flex  bg-transparent border-black border-[0.25vw] w-[9vw] h-[9vw] rounded-[15%] justify-center items-center"> 
                        
                        <h1 class="translate-y-[-2.1vw]  text-black font-bold text-center text-[0.9vw]"> Couching <u>siempre</u> disponible </h1>
                        <img src="{{ url_for('static', filename='images/musculo.png') }}" alt="musculo deberia ir aca..." 
                        class=" w-[4.5vw] h-[4.5vw] translate-y-[1.7vw] absolute"
                        > 

                    </div>

                </div>
            </article>   
            <!-- Cuadro 2 FIN -->              

        </div>
        <!-- Cuadro 1 y 2 FIN -->

        <!-- Cuadro 3 -->
        <article class="w-[5vw] mt-[1.5vw] hover:translate-y-[-0.5vw] transition">  
                <div class="flex bg-stone-100 w-[10vw] h-[10vw] rounded-[15%] shadow-pr justify-center items-center"> 
                    
                    <div class="flex  bg-transparent border-black border-[0.25vw] w-[9vw] h-[9vw] rounded-[15%] justify-center items-center"> 
                    
                        <h2 class="text-black font-bold text-center translate-y-[-2.8vw] text-[0.9vw]"> Abierto </h2>
                        <h1 class="text-black text-center translate-y-[1vw] text-[3.5vw] leading-[2.8vw] absolute"> 24<br>/7 </h1>

                    </div>

                </div>
        </article>                 
        <!-- Cuadro 3 FIN -->

    </section>
    <!-- Cuadros FIN -->

</section>


<!-- - - - -///SECCION "NUESTRA HISTORIA" FIN///- - - - -->


<!-- - - - -///SECCION PLANES///- - - - -->

<section>

     <!-- Texto -->

    <!-- Texto -->


</section>
    

{% endblock %}
